#streamlit
#torch>=1.8
#opencv-python-headless
#seaborn
# Add other dependencies here, e.g.,
#pandas
#matplotlib
#numpy
#pandas
#tqdm

torch>=1.8
streamlit>=1.31.0
opencv-python-headless>=4.8.0
pillow>=10.0.0
pandas>=2.0.0
numpy>=1.24.0

# Add plotting & utilities often imported by yolov5
matplotlib>=3.7.0
seaborn>=0.12.0
requests>=2.31.0
tqdm>=4.66.0
